Source: pyamdgpuinfo
Section: libs
Priority: optional
Build-Depends: debhelper-compat (= 13), python3, dh-python, python3-minimal, python3-setuptools, cython3
Standards-Version: 4.6.0
Rules-Requires-Root: no
Homepage: https://github.com/mark9064/pyamdgpuinfo

Package: python3-amdgpuinfo
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}, python3
Description: python amd gpu info library
 A python library for gather amd gpu information
